{% extends 'base.html.twig' %}

{% block title ' ' %}

{% block body %}

    <div class="container mt-4">
        <h1>Créer un todolist </h1>
        {{ include ("form.html.twig", {form: form, button: "Créer"}) }}
    </div>

{% endblock %}